__pycache__/
*.pyc
*.pyo
.env
*.exe
*.iso
*.zip
*.tar.gz
*.pdf
*.mp4
*.mpeg
*.docx
*.pptx
*.xlsx
*.png
*.jpg
*.jpeg
*.svg
*.whl
*.udeb
*.crdownload
*.slx
*.fig
*.m
*.ipynb
*.keras
*.csv
*.json
*.html
*.js
*.tsx
*.ts
*.lnk
*.cap
*.tex
*.mermaid
*.txt.bak
desktop.ini
Thumbs.db
kali-linux-2024.3-virtualbox-amd64/
_temp_matlab_R2024a_Windows/
_temp_matlab_R2024b_Windows/
